@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        color:white;
        background-color: black;
    }
}

@layer components {
    .link{
        @apply `curser-pointer` hover:text-[#fad8f085];
    }

  .tags {
    background-color: rgb(187, 73, 126);
    margin-right: 0.5rem ;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    
  }
  .tags:last-child {
    margin-right: 0;
  }
 .tags:nth-child(2){
    background-color: rgb(197, 94, 144);
 }
 .tags:nth-child(3){
    background-color: rgb(202, 106, 151);
 
 }
}
 

 









